@font-face {
	font-family: 'Neue';
	src: url('../files/fonts/THE_CHOSEN_ONE_MEDIUM.otf') format('opentype');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #9F4298;
	font-family: 'Neue', sans-serif;
}

body {
	background: #E6E7E8;
}

.nav_item,
.call_to_action {
	margin: 1rem;
	padding: 1rem;
}

.logo {
	width: 12rem;
	height: auto;
}

.container {
	padding: 2rem;
}

.header {
	position: sticky;
	font-size: 1.3rem;
	top: 0rem;
	display: flex;
	height: 6rem;
	background: #E6E7E8;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5rem;
	box-shadow: 0rem 0.01rem 1rem #D1AFD3;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.call_to_action {
	text-align: center;
	font-weight: bold;
	background: #332677;
	border: 0.2rem solid #332677;
	border-radius: 0.4rem 1.3rem 0.4rem 0.4rem;
	transition: all 0.2s;
	color: #E6E7E8;
}

.call_to_action:hover {
	transform: scale(0.96);
	background: #E6E7E8;
	box-shadow: 0rem 0rem 0.5rem #332677;
	color: #332677;
}

.footer {
	display: flex;
	font-size: 3rem;
	position: fixed;
	text-align: center;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	background-color: #D1AFD3;
	justify-content: center;
	border-top-right-radius: 4rem;
	border-top-left-radius: 4rem;
}

.team_box_1 {
	display: flex;
	padding: 4rem;
}

.team {
	width: 35rem;
	height: auto;
}

.bigbox_1 {
	display: flex;
	justify-content: space-around;
	background: #E6E7E8;
	height: 40rem;
	box-shadow: 0rem 0rem 0.5rem #D1AFD3;
	border-radius: 0.5rem;
	margin-left: 10rem;
	margin-right: 10rem;
}

.bigbox_1_div {
	background: #D1AFD3;
	border-radius: 1rem;
}

.item_one {
	background: #E6E7E8;

}

.title {
	font-size: 3rem;
}

.paragraph {
	font-size: rem;
}

.title_box_1 {
	display: flex;
	padding: 2rem;
	flex-direction: column;
	justify-content: space-between;
}
