@import './components/header.css';
@import './components/hero.css';
@import './components/boxtwo.css';
@import './components/footer.css';
@import './components/mobile-nav.css';
@import './components/cardsection.css';
@import './components/team.css';
@import './components/image_section.css';
@import './components/success_stories.css';
@import './components/faq.css';
@import './components/contact-section.css';
@import './utils.css';

:root
{
	--color-light: #cdd6f4;
	--color-blue: #74c7ec;
	--color-red: #f38ba8;
	--color-dark: #1e1e2e;
	--color-peach: #fab387;
	--color-mauve: #cba6f7;
	--color-yellow: #f9e2af;
	--size-xxs: 0.5rem;
	--size-xs: 0.75rem;
	--size-sm: 0.875rem;
	--size-base: 1rem;
	--size-lg: 1.125rem;
	--size-xl: 1.25rem;
	--size-xxl: 1.5rem;
	--size-3xl: 1.875rem;
	--size-4xl: 2.25rem;
	--size-5xl: 3rem;
	--size-6xl: 3.75rem;
	--size-7xl: 4.5rem;
	--size-8xl: 6rem;
	--size-9xl: 8rem;
	--size-10xl: 10rem;
}

*
{
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html 
{
	scroll-behavior: smooth;
}

body
{
	font-family: 'Poppins', sans-serif;
	background-color: var(--color-dark);
	color: var(--color-light);
}

img,
picture,
video,
svg 
{
	display: block;
	max-width: 100%;
	user-select: none;
}

body::-webkit-scrollbar {
  width: var(--size-xs);
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
