.faq
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 1.5rem;
	padding-top: 5rem;
	gap: 3.5rem;
}

.faq-box
{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 50rem;
}

.faq-box__title
{
	font-size: 1.7rem;
	font-weight: 600;
	padding-left: 1rem;
	padding-right: 1rem;
	transition: color 0.3s;
}

.faq-box__title:hover
{
	color: var(--color-red);
}

.git-box
{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 50rem;
}

.git-box__title
{
	font-size: 1.7rem;
	font-weight: 600;
	transition: color 0.3s;
}

.git-box__title:hover
{
	color: var(--color-red);
}

.git-box__btn
{
	margin-top: 2rem;
}

.faq-box__accordion
{
	display: flex;
}


.faq-question
{
	display: flex;
	justify-content: space-between;
}

.faq-question__title
{
	font-size: 1.5rem;
	color: var(--color-yellow);
	transition: color 0.3s;
}

.faq-question__icon
{
	height: 1.5rem;
	width: auto;
	color: var(--color-blue);
	transition: all 0.3s ease-in;
}

.faq-answer
{
	max-height: 0;
	overflow: hidden;
	margin-bottom: 1rem;
	margin-top: 0.2rem;
	transition: max-height 0.3s ease;
}

.faq-answer p
{
	font-size: 1.125rem;
}

.faq-box__accordion__minibox
{
	display: flex;
	flex-direction: column;
	text-align: left;
	cursor: pointer;
	border-bottom: 1px solid var(--color-light);
}

.faq-box__accordion__minibox.active .faq-answer
{
	max-height: 3rem;
}

.faq-box__accordion__minibox.active .faq-question__title
{
	color: var(--color-blue);
}

.faq-box__accordion__minibox.active .faq-question__icon
{
	transform: rotate(180deg);
	color: var(--color-yellow);
}

@media (min-width: 768px)
{
	.faq-box__title
	{
		font-size: 2.5rem;
	}
	.git-box__title
	{
		font-size: 2.5rem;
	}
}
