.success_story
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 1.5rem;
	padding-top: 2.5rem;
	gap: 1rem;
}

.success_story__box1
{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.success_story__box1__right
{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.success_story__box1__right__title
{
	font-size: 2rem;
	font-weight: 600;
	transition: all 0.3s;
}

.success_story__box1__right__title:hover
{
	color: var(--color-red);
}

.success_story__box1__right__text
{
	font-size: 1.2rem;
}

.success_story__box1__left
{
	display: flex;
    flex-direction: column;
}

.success_story__box1__left__minibox
{
	margin: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.success_story__box1__left__miniboxlol
{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.success_story__box1__left__minibox__title
{
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--color-yellow);
}

.success_story__box2
{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.success_story__box2__line
{
	display: flex;
	flex-direction: row;
	gap: 1rem;
    align-items: center;
}

.success_story__box2__line__icon
{
	height: 2rem;
	width: auto;
}

.success_story__box2__line__text
{
	text-align: left;
}

/* @media (min-width: 320px) */
/* { */
/**/
/* } */
/**/
/* @media (min-width: 375px) */
/* { */
/**/
/* } */
/**/
/* @media (min-width: 425px) */
/* { */
/* } */

@media (min-width: 768px)
{
	.success_story__box1__right__title
	{
		font-size: 2.5rem;
	}

	.success_story__box1
	{
		flex-direction: row;
	}

	.success_story__box1__right
	{
		justify-content: center;
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.success_story__box1__left
	{
		flex-direction: row;
	}
}

@media (min-width: 1024px)
{
	.success_story
	{
		display: flex;
		text-align: left;
		justify-content: center;
        align-items: flex-start;
	}

	.success_story__box1
	{
		justify-content: space-evenly;
	}

    .success_story__box1__right
	{
		padding-left: 0.5rem;
	}

	.success_story__box1__left 
	{	
		justify-content: space-around;
		gap: 7rem;
		padding: 1rem;
	}
}

/* @media (min-width: 1440px) */
/* { */
/**/
/* } */
/**/
/* @media (min-width: 1440px) */
/* { */
/**/
/* } */

